<% layout("layout/boilerplate") %>
  <a href="/campgrounds" class="btn btn-primary back-btn mb-3"><i class="fa-solid fa-arrow-left px-1"></i>Go Back</a>
  <div class="row">
    <div class="col-6 offset-1">
      <div class="card my-2">
        <img src="<%= camp.image %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <%= camp.title %>
          </h5>
          <p class="card-text">
            <%= camp.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Location : <%= camp.location %>
          </li>
          <li class="list-group-item">created by : <%= camp.owner.username %>
          </li>
          <li class="list-group-item">Price : <%= camp.price %>
          </li>
        </ul>
        <% if(currentUser && camp.owner.equals(currentUser._id)){ %>
          <div class="card-body">
            <a class="btn btn-warning mb-3" href="/campgrounds/<%= camp._id %>/edit">Edit Information</a>
            <form method="post" action="/campgrounds/<%= camp._id %>?_method=DELETE">
              <Button class="btn btn-danger">Delete</Button>
            </form>
          </div>
          <% } %>
      </div>
    </div>

    <div class="col-4 offset-1">
      <form action="/campgrounds/<%= camp._id %>/reviews" class="validate" method="post" novalidate>
        <div>
          <label class="form-label" for="rating">Rating</label>
          <input class="form-range" type="range" id="rating" name="review[rating]" min="1" max="5" />
        </div>
        <div>
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
          <div class="invalid-feedback">Please enter a Review</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success my-3">Submit</button>
      </form>
      <% for(let review of camp.reviews){ %>
        <div class="card mb-2">
          <div class="card-body py-1">
            <div class="row">
              <div class="col-lg-8">
                <h6 class="card-title">
                  <%= review.rating %> Stars
                </h6>
                <h6 class="my-1">Review :</h6>
                <p class="card-text my-1">
                  <%= review.body %>
                </p>
              </div>
              <div class="col-lg-4 m-auto text-end">
                <form action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                  <button class="btn btn-sm btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </div>