<% layout("layout/boilerplate") %>
  <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary back-btn mb-3"><i
      class="fa-solid fa-arrow-left px-1"></i>Go
    Back</a>
  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">
      <form method="POST" action="/campgrounds/<%=camp._id%>?_method=PUT" class="validate" novalidate
        enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" id="title" name="campground[title]" type="text" value="<%= camp.title %>"
            required />
          <div class="invalid-feedback">Please enter title</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="price">Campground Price</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="string" id="price" name="campground[price]" class="form-control" aria-label="Price"
              aria-describedby="basic-addon1" value="<%= camp.price %>" required />
            <div class="invalid-feedback">Please enter price</div>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" id="location" name="campground[location]" type="text" value="<%= camp.location %>"
            required />
          <div class="invalid-feedback">Please enter location</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Upload Image</label>
          <input type="file" multiple class="form-control validate" name="image" id="image">
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please check size or number of images allowed</div>
          <div class="invalid-feedback">Max images : 5 / total size : 5mb</div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" id="description" name="campground[description]" type="text"
            required><%= camp.description %></textarea>
          <div class="invalid-feedback">Please enter Description</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3"><button class="btn btn-info submit">Update</button></div>
        <div class="mb-3">
          <h4>Delete Images</h4>
          <div class="row">
            <% camp.images.forEach((img,i)=>{ %>
              <div class="col-md-4 mb-5 delete-image-div text-center">
                <img src="<%= img.thumbnail %>" class="delete-image">
                <label for="img-<%=i %>"><i class="fas fa-trash fa-4x"></i></label>
                <input class="form-check-input mt-3" type="checkbox" value="<%= img.name %>" id="img-<%= i %>"
                  name="deleteImages[]">
              </div>
              <% }) %>
          </div>
        </div>
      </form>
    </div>
  </div>